/* CLEAR FIX */
.clear::after {
    content: "";
    clear: both;
    display: table;
  }
/* general */
* {
    /* border: solid black 1px; */
    padding: 0px;
    margin: 0px;
}
body{
    color:#323232;
    background-color: #eeefed;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 100%;
    width: 100%;
}
header {
    margin: 0 auto;
    width: 100%;
}
ul {
    list-style:none;
    margin: 0px;
}
a {
    text-decoration: none;
}
/* header */
.conteiner{
    /* max-width: 1000px; */
    margin: 0 auto;
    clear: both;

}
.header_contact {
    width: 100%;
    /* height: 60px; */
    margin: 0 auto;
    background-image: linear-gradient(to right, rgb(129, 110, 233), rgb(82, 55, 235));
    background-color: rgb(98, 74, 238);
}
/* header CONTACT */
.header_contact .personal {
    margin: 0 auto;
    float:left;
    margin-right: 0px;
}
.header_contact .social {
    float:right;
    margin-right: 0.1875em; 
}
.personal li {
    float: left;
    color: white;
    margin: 0px;
    padding: 0px 1.25em;
    line-height: 3.625em;
}
.personal i {
    font-size: 1.2em;
    vertical-align: middle;
    padding-right: 0.625em;
}
.personal a {
    color: white;
    font-size: 1em;
    vertical-align: middle;
    padding: 0.1875em 0.3125em 0.3125em 0.3125em;
}
.social li{
    float: left; 
    margin: 0.3125em 0.125em;
}
.social a {
    padding: 0.3125em 0.625em;
    display:block;
    color: white;
}
.social i {
    font-size: 2.5em;
    text-align: center;
}
.header_contact .social a:hover {
    background-color: rgb(255, 127, 255);
    border-radius: .3125em;
}
.header_contact .personal a:hover {
    background-color: rgb(255, 127, 255);
    border-radius: .3125em;
}
/* header MENU */
.header_menu {

    clear: both;
    width: 100%;
    margin: 0 auto;
    background-image: linear-gradient(to left, rgb(255, 127, 255), rgb(255, 152, 255));
    background-color: rgb(255, 127, 255);
}

.logo{
    float: left;
    display:block;
    font-size: 4.375em;
    color: rgb(255, 255, 255);
    margin-left: 0.8em;
}
.logo span {
    display: inline-block;
    transform: rotateY(180deg);
    margin-right: -0.11em;    
}
.header_menu .menu {
    float: right;
}
.menu ul {
    display: block;
    padding-right: 1rem;
    height: 5em;
    width: 24em;
    font-size: 1em;

}
.menu li {
    box-sizing: border-box;
    float: left;
    display: block;
    width: 25%;
    height: 100%;
    border-left: 0.2rem solid rgb(82, 55, 235);
    border-right: 0.2rem solid rgb(82, 55, 235);
    font-size: 1em;
}
.menu li:last-of-type {

    border-right: 0.4rem solid rgb(82, 55, 235);
}
.menu li:first-of-type {

    border-left: 0.4rem solid rgb(82, 55, 235);
}
.menu  a {
    color: rgb(82, 55, 235);
    display: block;
    font-size: inherit;
    text-align: center;
    margin: 0 auto;
    height: 100%;
}
.menu i {
    padding-top: 0.425em;

    display: block;
    font-size: 2em;
    text-align: center;
    padding-bottom: 0.1875rem;
}
.menu li:hover {
    border-left: 0.4rem solid rgb(82, 55, 235);
    border-right: 0.4rem solid rgb(82, 55, 235);
    font-size: 0.9em;
}
.menu li:hover:first-of-type {
    border-left: 0.6rem solid rgb(82, 55, 235);
}
.menu li:hover:last-of-type {
    border-right: 0.6rem solid rgb(82, 55, 235);
}
/* Article */
.post_header {
    display: block;
    width: 100%;
    height: 10.5em;
    background-size: auto;
    background: url("../img/background.jpg") center no-repeat ;
    background-color: rgb(134, 134, 134);
}
.post_header a{
    display: block;
    padding: 1.7em 0;
    margin-left: 3.6em;

}

.post_header h1{
    display: inline-block;
    /* margin-top: 40px; */
    color: white;
    text-align: center;
    background-color: rgb(129, 110, 233);
    border-radius: 0.15625em;
    padding: 0.625em 0.9375em;
    letter-spacing: 0px;
}
.post_header span{
    font-size: 0.7em;
    
}
.post_header i{
    margin-left: 0.47em;  
}
.post_header h1:hover{
    font-size: 1.9em;
}
.article_header {
    display: block;
    margin: 3em 1em;
}
.article_header h1{
    font-weight: 300;
    font-size: 2em;
    text-align: center;
} 
.controls {
    text-align: center;
    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 2em;
}
.controls li {
    display: inline-block;
}
.controls a {
    display: block;
    color: rgb(255, 255, 255);
    background-color: rgb(82, 55, 235);
    border-radius: 5px;
    width: 2.5em;
    font-size: 1.5em;
    font-weight: 400;
    padding: 0.7em 1em;
}
.controls a:hover,
.controls a:focus,
.controls .selected a {
    color: white;
    background: rgb(255, 127, 255);  
}
.gallery{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
}
.gallery img {
    max-width: 100%;
  
    
}
.gallery a{
    margin: 0;
    box-sizing: border-box;
    display: inline-block;
    width: 33%;
   

    padding-left: 0.3%;
    padding-bottom: 0.3%;
}

aside {
    color: rgb(82, 55, 235);
    margin-top: 4em;
    clear: both;
    background-color: rgb(255, 127, 255); 
    height: 5em; 
    text-align: center;
}
aside strong {
    display: inline-block;
    margin-top: 1.5em;    
}
aside ul {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: -3.7em;
}
aside li {
    display: inline-block;
    color: white;
    padding: 0px 0px;
    line-height: 5em;
}
aside li:first-child{
    margin-right: 23em;
}
aside  i {
    font-size: 1.5em;
    vertical-align: middle;
    padding: 0px 0.7em;
}
aside  a {
    color: white;
    font-size: 1em;
    vertical-align: middle;
    padding: 0.2em 0.3em 0.3em 0.3em;
}
aside a:hover {
    background-color: rgb(82, 55, 235);
    border-radius: 0.3em;    
}
footer {
    height: 5em;
    text-align: right;
    background-image: linear-gradient(to left, rgb(129, 110, 233), rgb(82, 55, 235));
}
footer li {
    display: inline-block;
    font-size: 1.5em;
    line-height: 3.3em;
}
footer li:after {
    content: "|";
    color: white;
    margin: 0px 0.3em;
}
footer li:last-child:after {
    content: "";
    margin: 0px;
}
footer a {
    color: rgb(255, 127, 255);  
}
footer a:hover{
    color:white;
    text-decoration: underline;
}
footer ul{
    margin-right: 1em;
}
/* media queries */
@media (max-width: 780px){
.gallery a{
    display: inline-block;
    width: 49.7%;
}
.gallery img {
    margin: 0;
    /* float: left; */
    display: block;
    width: 100%;
    height: auto;
    /* margin-left: 0.3%; */
    /* margin-bottom: 0.3%; */
}
aside {
    margin-top: 0px;
    height: auto;
}
aside ul {
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 0;
}
aside li:first-child {
    margin-right: 2em;
}
footer {
    text-align: center;
}
footer ul{
    margin-right: 0em;
}

}
@media (max-width: 600px){
    body{
        min-width: 320px;
        font-size: 80%;
    }
    .menu ul {
        float: none;
        display: inline-block;
        margin: 0 auto;
        padding-right: 0rem;
    }
    .header_menu .menu {
        float: none;
        margin: 0 auto;
        padding-right: 0rem;
        text-align: center;
    }
    .logo {
        text-align: center;
        display: block;
        width: 300px;
        float: none;
        margin: 0 auto;
        padding-right: 0rem;
    }
    .header_contact .personal {
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
    .personal ul{
        display: block;
        width: 100%;
        margin: 0.5em auto;
        text-align: center;

    }
    .personal li {
        float: none;
        display: inline-block;
        line-height: 0;
    }
}
@media (max-width: 540px){
    .gallery a{
        display: block;
        width: 100%;
    }
}
@media (max-width: 420px){
    .controls a {
        display: block;
        color: rgb(255, 255, 255);
        background-color: rgb(82, 55, 235);
        border-radius: 5px;
        width: 2.0em;
        font-size: 1.5em;
        font-weight: 400;
        padding: 0.7em 0.8em;
}
@media (max-width: 340px){
    footer {
        font-size: 80%;
        text-align: center;
    }
    aside li:first-child {
        margin-right: 1em;
    }
    footer ul{
        margin-right: 0em;
    }

}